<?xml version="1.0"?>
<ruleset name="PHP_CodeSniffer">
    <!--
         Useful links:
         * https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage
         * https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xml.dist
         * https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
    -->
    <description>PHP CodeSniffer Configuration</description>

    <!-- Coding standard to use -->
    <rule ref="WordPress-Docs" />
    <rule ref="WordPress-Extra" />
    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array" value="var_dump=>null,sizeof=>count,delete=>unset"/>
        </properties>
    </rule>

    <!-- Do not fail on warnings -->
    <config name="ignore_warnings_on_exit" value="1" />

    <!-- Added WordPress Coding Standards (wpcs) to path -->
    <config name="installed_paths" value="../../wp-coding-standards/wpcs" />

    <!-- Assume UTF-8 -->
    <config name="encoding" value="UTF-8" />

    <!-- Use colors -->
    <arg name="colors" />

    <!-- Show progress -->
    <arg value="p" />

    <!-- Files and directories to check -->
    <file>./src/</file>
    <file>./webroot/custom-themes/</file>
    <arg name="ignore" value="webroot/custom-themes/custom/includes/bootstrap/" />
    <arg name="ignore" value="webroot/custom-themes/custom/includes/font-awesome/" />
    <arg name="ignore" value="webroot/custom-themes/custom/includes/jquery/" />
    <arg name="ignore" value="webroot/custom-themes/custom/includes/jquery-ui/" />
    <arg name="ignore" value="webroot/custom-themes/custom/includes/smoke/" />

    <!-- Ignore minified files -->
    <exclude-pattern>*\.min\.(css|js)</exclude-pattern>
</ruleset>
