parameters:
    level: 7
    paths:
        - src
        - tests
        - webroot
    excludes_analyse:
        - %rootDir%/../../../tests/data/*
        - webroot/wp
    autoload_files:
        - webroot/wp/wp-load.php
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
